@use 'src/styles/styles' as *;

code {
  border-radius: rem(12);
  border: rem(1) solid $gray-200;

  ::ng-deep {
    tr {
      display: block;
      margin: rem(4) 0;
    }

    td.hljs-ln-numbers {
      padding-right: rem(16);

    }
  }
}
