@forward 'base';
@forward 'variables';
@forward 'utils';

@use 'base' as *;
@use 'variables' as *;
@use 'utils' as *;

* {
  font-family: "Inter", sans-serif;
}

html, body {
  height: 100%;
}

html {
  @include generate-breakpoints;
}

::selection {
  color: $gray-900;
  background: $primary-200;
}
