$white: #fff;
$black: #000;
$gray-100: #f7f7fa;
$gray-200: #e8e8ef;
$gray-300: #bfbfc7;
$gray-400: #acacb4;
$gray-500: #a0a0a9;
$gray-600: #80808a;
$gray-700: #66666BFF;
$gray-800: #4a4a50;
$gray-900: #333338;

$primary-100: #f8d1df;
$primary-200: #f5acc4;
$primary-300: #f86c9c;
$primary-400: #fc4e83;
$primary-500: #ef3171;
