$white: #fff;
$black: #000;
$gray-100: #f9f9fd;
$gray-200: #e8e8ef;
$gray-300: #bfbfc7;
$gray-400: #acacb4;
$gray-500: #a0a0a9;
$gray-600: #80808a;
$gray-700: #66666BFF;
$gray-800: #4a4a50;
$gray-900: #333338;

$primary-100: #ffebed;
$primary-200: #ffd8dc;
$primary-300: #e8b6b9;
$primary-400: #cc888e;
$primary-500: #b9676f;
