@use "../utils" as *;
@use "../variables" as *;

h1, h2, h3 {
  color: $gray-900;
}

h3, h4 {
  line-height: 140%;
}

h4, h5, p {
  color: $gray-800;
}

h2 {
  font-size: rem(32);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: rem(2);
  text-transform: uppercase;
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(16);
}

h5 {
  font-size: rem(16);
  line-height: 160%;
}

p {
  font-size: rem(16);
  line-height: 180%;
}
